$black: #000;
  $white: #fff;
  $background-dark: #52473C;
  $accent-color: #C3DED7;
  $background-light: #DECCB8;
  $text-dark: #38342F;
  $text-light: #FFF7ED;
  $text-title: linear-gradient(271.89deg, #8FCAE3 22.06%, #5C8191 116.84%);
