@import './colors.scss';
@import './fonts.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h2 {
  @include font(32px, 700 1.29, 'Amatic SC');
  color: $text-dark;
}

h3 {
  @include font(24px, 600 1.29);
  color: $text-dark;
}

p {
  @include font(24px);
  color: $text-dark;
  margin: 10px;
}
